<h1>Welcome</h1>
<p>
    Welcome to Storybooks 1.0.0
</p>
<p>
    Post your stories and choose for them to be read by people of your choice
</p>
<a class="btn red darken-1" href="/auth/google"> <i class="fa fa-google left"></i>Login with Google</a>